.primary-button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  // margin: 40px;
  margin: 20px 10px;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;

  @include down-xsm {
    margin: 5px 10px;
  }

  h6 {
    margin: 0;
    @include down-xsm {
      font-size: 0.75rem;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 1s ease;
  }

  // .hovered1,
  // .hovered2 {
  //   display: inline-block;
  //   transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  // }

  // &:hover .hovered1 {
  //   transform: translateX(-5px);
  //   animation: hoverAnimation 1.5s ease-in-out inherit;
  // }

  // &:hover .hovered2 {
  //   transform: translateX(5px);
  //   animation: hoverAnimation 1.5s ease-in-out inherit;
  // }

  // @keyframes hoverAnimation {
  //   0%,
  //   100% {
  //     transform: translateX(0);
  //   }
  //   50% {
  //     transform: translateX(-10px);
  //   }
  // }
}

.secondary-button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 20px 10px;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;

  @include down-xsm {
    margin: 5px 5px;
  }

  h6 {
    margin: 0;
    font-size: 1rem;
    @include down-xsm {
      font-size: 0.75rem;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 1s ease;
  }
}

.plain-button {
  font-weight: 600;
}

.contact-button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 20px 10px;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;

  @include down-xsm {
    margin: 5px 5px;
  }

  h6 {
    margin: 0;
    font-size: 1rem;
    @include down-xsm {
      font-size: 0.75rem;
    }
  }

  img {
    margin-right: 5px;
    height: 1.25rem;
    @include down-xsm {
      height: 1rem;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 1s ease;
  }
}
