@import "mixin";

.header-top-fixed {
  position: fixed;
  display: block;
  top: 20px;
  width: 80%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 1000;
  padding: 0;

  @include down-xsm {
    display: inline;
    width: min-content;
  }

  .navbar {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1400px;
    @include down-sm {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .logo {
    h6 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    @include down-xsm {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .socials {
    li a {
      margin-left: 20px;
    }
    @include down-xsm {
      display: none;
    }
  }
  .vertical-line {
    border: 1px solid var(--px-white);
    margin-top: 2px;
    margin-bottom: 2px;
    opacity: 0.2;
  }

  .main-menu {
    li a {
      margin-right: 20px;
    }
    @include down-xsm {
      display: none;
    }
  }

  .main-menu {
    color: var(--px-white);
    font-size: 0.85rem;
    letter-spacing: 1px;

    li a {
      position: relative;
      cursor: pointer;
      transition: all 0.4s ease;
      text-transform: capitalize;

      &:hover {
        color: var(--px-white);
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        bottom: 0;
      }

      &:after {
        right: 2.5px;
        background: var(--px-turquoise);
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      &:hover:before {
        background: var(--px-turquoise);
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      &:hover:after {
        background: transparent;
        width: 100%;
        transition: 0s;
      }
    }
  }
}
.header-scroll {
  opacity: 0.5;
}
