@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$px-font: "Open Sans", sans-serif !default;

// Theme Variable

$px-theme: #0788ff;
$px-theme-rgb: 7, 136, 255;
$px-white: #fff;
$px-black: #040c16;
$px-bg: #0d0d0d;
$px-turquoise: #40e0d0;

$px-text: #fff;
$px-heading: #fff;

// Breakpoints
$px-media-xsm: 567px !default;
$px-media-sm: 767px !default;
$px-media-md: 991px !default;
$px-media-lg: 1200px !default;
